<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>专属链接 - URL IS</title>
	<meta name="description" content="专属链接 - URL IS，创建一个属于自己的链接！" />
	<meta name="keywords" content="专属链接, URL IS, 我的链接, 短链接, 短网址, Web学习网, pinewong, 黄松" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="qc:admins" content="0500750524136367" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
